.navbar {
    display: flex
    flex-direction: row;
}
.logo {
    display: flex;
    width: 200px;
    
}

.links {
    display: flex;
    justify-content: flex-end;
    max-width: 500px;
    
}    
    



 


   
   






