.header {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1F2937;
  font-family: 'Roboto', sans-serif;
  height: 50px;
  align-items: center;

}

.logo {
  display: flex;
  width: 200px;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder
}

.links {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  font-size: 18px;
  gap: 10px;
  color: #e5e7eb;
  font-weight: normal
}



.header2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  padding: auto;
  height: 600px;


}

.image-holder {
  width: 700px;
  height: 400px;
}

.image-holder > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  gap: 10px;
}

.main-text {
  width: 350px;
  font-size: 48px;
  color: #f9faf8;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.secondary-text {
  width: 400px;
  font-size: 18px;
  color: #e5e7eb;

}



.header3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #1F2937;
  height: 100px;
  width: 1600px;
  margin-left: 100px;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
  font-size: 36px
}


.illustrations {
  display: flex;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.img {
  width: 250px;
  height: 250px;
  border-radius: 25px;
  contain: content;
  border: solid 5px #3882f6;
  
}

.img > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bot-container {
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  font-size: 36px;
  background-color: #e5e7eb;
  font-style: italic;
  margin-left: 400px;
  margin-right: 400px;
  position: relative;
}

.signature {
  position: absolute;
  bottom: 100px;
  right: 0px;

}

.sign-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 150px;
  width: 1000px;
  background-color: #0A66C2;
  border-radius: 25px;

}

.info {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;

}

.string {
  font-size: 25px;
  color: #e5e7eb;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.button1 {
  border-radius: 10px;
  border: 2px solid white;
  margin-left: 80px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  
  background-color: #1F2937;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;

}



.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}



.button-18:hover,
.button-18:focus {
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}